---
---

@import "minimal-mistakes";

/* NAV BAR OVERRIDES */
.masthead {
  background-color: #1b5e20 !important; /* dark green */
}

.masthead__menu a {
  color: white !important;
}

.masthead__menu a:hover {
  color: #c8e6c9 !important; /* light green hover (optional) */
}
