---
search: false
---

@charset "utf-8";

// Load skin first
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";

// Theme settings (override BEFORE main import)
$primary-color: #1b5e20;
$link-color: #1b5e20;
$link-color-hover: #145a18;

// Main theme
@import "minimal-mistakes";

.masthead {
  background-color: #1b5e20;
}

.greedy-nav a {
  color: white !important;
}

.site-title {
  color: white !important;
}
